.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.startBtn {
  background-color: #11beae;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: block;
  margin: 50px auto 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 16px 12px;
  width: 380px;
}

.startBtn:hover {
  color: #fff;
  background-color: #219d92;
}

.topHeaderCatch {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  line-height: 1.8;
  margin: 70px 0 0;
}

.topHeaderSubCatch {
  font-size: 36px;
}
