.trans-enter {
  opacity: 0.01;
}

.trans-enter.trans-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.trans-leave {
  opacity: 1;
}

.trans-leave.trans-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}